[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
djangorestframework = "*"
django = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
